:root {
    --red: #E50914;
    --black: #0f0f0f;
    --gray: #181818;
}

body {
    background-color: var(--black);
    color: white;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    width: 90%;
    top: 0; z-index: 1000;
}

.ssh-logo {
    background: var(--red);
    padding: 8px 18px;
    font-weight: 900;
    font-size: 24px;
    border-radius: 4px;
}

.brand-name { margin-left: 10px; font-weight: bold; font-size: 18px; }

.header-right { display: flex; align-items: center; gap: 20px; }

.search-box {
    position: relative;
    background: #333;
    padding: 5px 15px;
    border-radius: 20px;
}

.search-box input {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    width: 150px;
}

.nav-links button {
    background: none; border: none; color: white;
    cursor: pointer; font-weight: bold; margin-left: 10px;
}

.nav-links button:hover { color: var(--red); }

/* Hero */
.hero {
    height: 70vh;
    background: linear-gradient(to right, rgba(0,0,0,0.8), transparent), url('https://image.tmdb.org/t/p/original/1g0dhfRj9htNi7Szes6Y7viH0og.jpg');
    background-size: cover;
    background-position: center;
    display: flex; align-items: center; padding: 0 5%;
}

.hero-content h1 { font-size: 3rem; margin-bottom: 10px; }

.play-main-btn {
    background: white; color: black; padding: 12px 25px;
    border: none; border-radius: 5px; font-weight: bold; cursor: pointer;
}

/* 5 ta qatorli grid */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 40px 5%;
}

.movie-card {
    background: var(--gray);
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer;
}

.movie-card:hover { transform: scale(1.05); }

.movie-card img { width: 100%; height: 300px; object-fit: cover; }

.movie-info { padding: 10px; text-align: center; }

#sectionTitle { padding-left: 5%; margin-top: 30px; }